.container.searchbox
  .input-group
    input.form-control(type="text", placeholder="search")
    .input-group-btn
      button.btn.btn-default
        span.fa.fa-search

.container
  nav
    ul.pagination.hidden
      // {{#each . as |page|}}
      li.page(href="{{page.href}}")
        a(href="#") {{page.key}}
      // {{/each}}

#result.container.hidden
  // {{#each . as |item|}}
  .row(key="{{item.key}}")
    .col-md-3
     .thumbnail(thumb="{{item.thumb}}")
        //img(src="{{item.thumb}}")
        div(style="height:120px; background: url('{{item.thumb}}') center center no-repeat")
    .col-md-6.title {{item.title}}
    .col-md-2
      button.btn.btn-default.ktplay(data-toggle="tooltip", title="play")
        span.fa.fa-2x.fa-play-circle(href="{{item.href}}")
      button.btn.btn-default.ktadd(data-toggle="tooltip", title="add to local db")
        span.fa.fa-2x.fa-plus-square(href="{{item.href}}")
  // {{/each}}

// this will be cloned from the 1st
.container
  nav
    ul.pagination
    
script.
  var tmplMain = Handlebars.compile($("#result").html());
  var tmplPages = Handlebars.compile($(".pagination").first().html());
  $("#result").empty().removeClass('hidden');
  $('.pagination').empty().removeClass('hidden');
  
  function renderitems(data) {
    $('#result').html(tmplMain(data.items));
    $('.pagination').html(tmplPages(data.pages));
    $('[data-toggle="tooltip"]').tooltip();
  }

  // do the search
  $('.searchbox .btn').on('click', function() {
    var search = $('.searchbox input[type="text"]').val();
    var uri = '/plugins/youtube/search/' + encodeURIComponent(search);

    //fadeOut();
    $.get(uri, function(data) {
      renderitems(data);
      //fadeIn();
    });
  })

  // page change
  $('nav').on('click', '.page', function() {
    var uri = '/plugins/youtube/pages/';

    //fadeOut();
    $.post(uri, { url: $(this).attr('href') }, function(data) {
      renderitems(data);
      //fadeIn();
    });
  })
  
    // play youtube url
  $('main').on('click', '.ktplay', function() {
    var $elem = $(this).children('.fa');
    window.location = $elem.attr('href');
  })
  
  // (search page) add to db
  $('main').on('click', '.ktadd', function() {
    var $elem = $(this).children('.fa');
    var $row = $elem.parents('.row').first();
    var uri = '/api/db/save/';  // this is common for each plugin
    var item = {
      "title": $row.find('.title').text()
      , "url": $(this).children('.fa').attr('href')
      , "thumb": $row.find('.thumbnail').attr('thumb')
      , "source": "youtube"
      , "tags": []
    };

    _postToSrv(uri, item);
  })

